<hr/>
<div>
{{#if user}}
  Hello from Handlebars, {{user.name}}!
{{else}}
  Hello from Handlebars, anonymous!
{{/if}}
<br/>

{{#if hstRequest}}
  The <code>hstRequest</code> variable is also available!
{{/if}}
<br/>

{{#if document}}
<pre>
Document title: {{document.title}}</a>
Document introduction: {{document.introduction}}
Document link: <a href="{{hst:linkByHippoBean document true}}">{{hst:linkByHippoBean document true}}</a>
News link: <a href="{{hst:linkByPath "news" false}}">{{hst:linkByPath "news" false}}</a>
Homepage link: <a href="{{hst:linkBySiteMapItemRefId "root" false}}">{{hst:linkBySiteMapItemRefId "root" false}}</a>
</pre>
<p>Document content:</p>
<div>
{{{hst:htmlByHippoHtml document.content false}}}
</div>
{{/if}}
</div>
