<div class="text-center">
{{#if user}}
  Hello {{user.name}} from base-footer.hbs!
{{else}}
  Hello anonymous from base-footer.hbs!
{{/if}}
<br/>

{{#if hstRequest}}
  The hstRequest var is also part of the base-footer.hbs!
{{/if}}
<br/>

{{#if document}}
<pre>
Document title: {{document.title}}</a>
Document introduction: {{document.introduction}}
Document content: {{document.content}}
Document link: {{hst-linkByHippoBean document false}}
</pre>
{{/if}}
</div>
